---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src=' %}
          {% assign imageMarkup = image | split:">" | first %}
          {% break %}
        {% endif %}
      {% endfor %}
      <div class="entry">
        <div class="row">
          {% if imageMarkup %}
          <div class="col-md-4"> <img {{ imageMarkup }} width="240" height="120"></div>
          <div class="col-md-8">{{ post.content | strip_html | strip_newlines | truncate: 120 }}
              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读全文</a>
          </div>
          {% else %}
          <div class="col-md-12">{{ post.content | strip_html | strip_newlines | truncate: 120 }}
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读全文</a>
          </div>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
</div>

{% include paginator.html %}
