{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview', {
		  'page': '{{ site.baseurl }}{{ page.url }}',
		  'title': '{{ page.title | replace: "'", "\\'" }}'
		});
	</script>
	<!-- End Google Analytics -->
{% endif %}

<script type="text/javascript">
	var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cspan id='cnzz_stat_icon_1000424990'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000424990%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>

<script>
	var _hmt = _hmt || [];
		(function() {
  			var hm = document.createElement("script");
  			hm.src = "//hm.baidu.com/hm.js?863027b53ec95fc8e4d9130363d9504e";
  			var s = document.getElementsByTagName("script")[0]; 
  			s.parentNode.insertBefore(hm, s);
	})();
</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=54564234" charset="UTF-8"></script>